{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/extensions": ["error", "always"],
    "import/no-extraneous-dependencies": ["error", "always"]
  }
}